body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(65, 84, 57);
}

#container-mapa {
    flex-grow: 1;
    display: flex;
    padding: 5px;
}

#Mapa {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

#caixa-info {
    background-color: rgb(154, 177, 143);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
    max-height: 250px;
    position: relative;
    display: none
}

#infoClose {
    position: sticky;
    top: 10px;
    right: 10px;
    cursor: pointer;
    text-align: right;
}

.info-sapo {
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
}

#btn-voltar {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 8;
    padding: 10px 15px;
    background-color: rgb(110, 131, 107);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#btn-voltar:hover {
    background-color: rgb(74, 135, 65);
}

.marcador-mapa {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ddd;
    display: bottom;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid white;
    position: relative;
}

.marcador-mapa .marker-image {
    display: block;
    width: 100%;
    height: 100%;
}

.conteudo-popup {
    text-align: center;
}

.conteudo-popup h4 {
    margin-bottom: 5px;
}

.conteudo-popup img {
    max-width: 120px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.conteudo-popup p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.conteudo-popup small {
    font-size: 0.8em;
    color: #555;
}


.caixa-info-content {
    padding: 10px;
}

.caixa-info-content h4 {
    margin-top: 0;
}

.caixa-info-content img {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}